<h1>Profile Page</h1>

<%= link_to "Add Educations", user_profile_educations_path(@profile.user, @profile)%>
<%= link_to "Add Experiences", user_profile_experiences_path(@profile.user, @profile) %>
<%= link_to "Add Projects", user_profile_projects_path(@profile.user, @profile) %>
