<div class = 'well bs-component'>
  <legend>Edit Skill</legend>
  <% @skill.errors.full_messages.join(", ") %>
<%= simple_form_for [@user, @profile, @skill] do |f| %>
  <%= f.input :name %>
  <%= f.input :rating, collection: 1..10%>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
</div>
