<h1>About CodeCore For Hire</h1>

<p>We are apart of the Cohort 13 at CodeCore Bootcamp. CodeCore For Hire was assigned as a group project and was designed, developed, and implemented within one weekend.</p>


<p>Created by Matt Asaminew, Makoto Ejima, Wilson Lu,
Alaina Gully, Eric Richards, Salman Salem, and Ryan Woo.</p>


<h4> The Purpose of CodeCore For Hire </h4>


<p>CodeCore For Hire allows CodeCore students to create a profile
that shows their credentials and if they are available for hire.
Through the site you can, sign up as a user, create a profile
page, and show if you are available for hire. You can also search
the site as a recruiter and see all of the student profiles,
search for hirable students, and message students for them to get
in contact with you.</p>
