<div class="jumbotron jumbo-home">
  <h1>Welcome To CodeCore For Hire</h1>
  <p class="Intro">Looking for skilled coders? Search through our student profiles.<br>CodeCore student? Create an account or sign in!</p>
  <a class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= >View Students Available For Hire</div></a>
  <a class="btn btn-primary btn-lg home-buttons hvr-bob">Sign Up</a>
  <a class="btn btn-primary btn-lg home-buttons hvr-bob">Learn More About CodeCore</a>
  <div class="jumbo-home-search">
    <%= form_tag("/search", method: "get", enforce_utf8: false) do %>
      <%= text_field_tag :query, nil, placeholder: "Search for students...", class: "jumbo-search-bar" %>
      <%= submit_tag "Search", name: nil, class: "jumbo-search-button" %>
    <% end %>
  </div>
</div>
