
<div class="jumbotron jumbo-home">
  <div>
    <iframe frameborder="0" height="100%" width="100%"
      src="https://youtube.com/embed/Bo7w0dSAJKY?loop=1&autoplay=1&controls=0&showinfo=0&autohide=1">
    </iframe>
  </div>
  <h1>Welcome To CodeCore For Hire</h1>
  <p class="Intro">Looking for skilled coders? Search through our student profiles.<br>CodeCore student? Create an account or sign in!</p>

  <a href= <%= @for_hire_url %> class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= "wordwrap">View Students Available For Hire</div></a>
  <a href=<%=@sign_up_url%>  class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= "wordwrap">Sign Up</div></a>
  <a href= "http://codecore.ca" , class="btn btn-primary btn-lg home-buttons hvr-bob"><div class= "wordwrap">Learn More About CodeCore</div></a>
  <div class="jumbo-home-search">
</div>
