<footer class="foot">
  <div class="container-fluid">
    <%= link_to ("Home"), root_path %>
    |
    <a href="http://codecore.ca/">CodeCore Bootcamp</a>
    |
    <%= link_to "About", home_about_path %>

    <p>142 W Hastings St. // Vancouver, BC // Canada // (604) 559-CODE (2633) </p>
  </div>
</footer>
